body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fb;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
}
.login-card button {
  width: 100%;
  background-color: #1E3A8A;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* code */
.login-card button:hover {
  background-color: #2563eb;
}
.login-card h1 {
  margin-bottom: 10px;
}
/* forgot pasward */
.forgot-password {
  display: block;
  color: #1E3A8A;
  cursor: pointer;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
.login-card p:last-child:hover {
  text-decoration: underline;
}

/* remember me */
.remember-me {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.remember-me input {
  width: 18px;
  height: 18px;
}

.remember-me label {
  font-size: 16px;
  color: #374151;
}
.login-card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Don't have an account? Sign Up*/
.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.signup-text span {
  color: #1E3A8A;
  font-weight: 600;
  cursor: pointer;
}

.signup-text {
  color: #6b7280 !important;
}

/*logo*/
.jobcare-logo {
  width: 180px;
  height: auto;
  margin-bottom: 25px;
}

.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 60px;
}